*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    background-color: #e5e5e5;
    padding: 10px 0px 10px 0px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
     width: 80%;
    padding: 15px 40px;
    background: #e5e5e5 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
 height: 55px;
}
.menu{
     list-style: none;
    display: flex;
    gap: 30px;
}
.menu li a{
       color: #040404;
    text-decoration: none;
    font-size: 16px;
}
#header span {
    font-weight: 1000;g
}
.custom-highlight {
     color: #ff8367;
     font-weight: bold;
     }


    