* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.bar{
    display: none;
}

header {
  background: #fff;
  border-bottom: 1px solid #eee;
   position: sticky;
  top: 0;
}

.nav {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: #d45c5c;
}
#react{
    color: #000;
}

.brand img {
  width: 100px;
  height: 28px;
}
.nav link{
    display: none;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: #000;
}


  nav ul {
    gap: 12px;
  }

  nav a {
    font-size: 14px;
  }
  @media screen and (max-width:480) {
    .nav link{
        display: none;
    }
    .bar{
        display: block;!important
    }
    
  }
  

body{
    background: #f5f5f5;
}


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: #fff;
}

.hero-content h2{
    color: #d45c5c;
    font-size: 50px;
}

.hero-content h1{
    font-size: 50px;
    margin-top: 10px;
}

.hero-content p{
    margin-top: 15px;
    width: 70%;
}

.btn{
    background: #1e88e5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.hero-img img{
    width: 380px;
}


.products{
    padding: 50px;
}

.products h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.product-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card{
    background: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card h3{
    margin-top: 10px;
}

.card p{
    font-size: 14px;
    margin: 10px 0;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    color: red;
    font-size: 20px;
}

@media screen and
 (max-width: 768px){
    
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .product-list{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}
